@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#reactylon-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
